/*body, html{
	height: 100%;
}

.ui.container{
    width: auto;
}

.three.wide.column{
	background-color: #C4CCCA;
}

.ui.secondary.vertical.pointing.fluid.menu{
	height: 100%;
}*/

#flashdata{
		display: none;
}
